.post{
  margin-bottom:48px ;
  max-width: 800px;
 
}
.p-profilpic {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  padding: 1px;
  border: 1px solid red;
  display: flex;
}
.p-head {
  display: flex;
  gap: 2%;
}
.p-title {
  display: grid;
  align-items: center;
  span{
    color: gray;
  }
}
.hashtags{
  color:rgb(39, 202, 202);
  text-decoration: none;
}
.postimage{
  width: 100%;
}