.d-flex {
  display: flex;
}

button {
  cursor: pointer;
}
.d-none {
  display: none;
}
.d-grid{
  display: grid;
}
.f-headline {
  font-family: Neonderthaw-Regular, sans-serif;
  font-weight: 100;
  color: rgb(243, 73, 215);
  text-shadow: 1px 1px 1px rgb(16, 41, 182), 0 0 1em rgb(0, 229, 255),
    0 0 0.5em rgb(0, 229, 255);
}
.invalid{
  cursor: not-allowed;
}
