<mobilenavbar>
  <a href="#" id="headMobile">
    <img src="./assets/img/instalogo.jpg" alt="Logo" />
    <h1 class="f-headline">InstaNeon</h1>
  </a>
  <button id="menuBtn" onclick="showMenu()">
    <img src="./assets/img/menu.svg" alt="Menu" />
  </button>
  <mobilenavigation id="mobileNavigation" class="d-none">
    <div class="mobilemenu">
      <a href="#"
        ><img id="imgFeedMobile" src="./assets/img/feed.png" alt="Feed" />
        <span>Feed</span></a
      >
    </div>
    <div class="mobilemenu">
      <a href="#">
        <img src="./assets/img/explore.png" alt="Explore" />
        <span>Explore</span></a
      >
    </div>
    <div class="mobilemenu">
      <a href="#"
        ><img src="./assets/img/notification.png" alt="Notifications" />
        <span>Notifications</span></a
      >
    </div>
    <div class="mobilemenu">
      <a href="#"><img src="./assets/img/stats.png" alt="Stats" /></a>
      <span>Stats</span>
    </div>
    <div class="mobilemenu">
      <a href="#"
        ><img src="./assets/img/settings.png" alt="Feed" />
        <span>Settings</span></a
      >
    </div>

    <div class="mobilemenu">
      <a href="#">
        <img src="./assets/img/logout.png" alt="Logout" />
        <span>Logout</span></a
      >
    </div>
  </mobilenavigation>
</mobilenavbar>
