<mobilenavbar>
  <div id="headMobile">
    <img src="./assets/img/instalogo.jpg" alt="Logo" />
    <h1 class="f-headline">InstaNeon</h1>
  </div>
  <mobilenavigation>
    <div class="mobilemenu">
      <a href="#"
        ><img id="imgFeedMobile" src="./assets/img/feed.png" alt="Feed"
      /></a>
    </div>
    <div class="mobilemenu">
      <a href="#"> <img src="./assets/img/explore.png" alt="Explore" /></a>
    </div>
    <div class="mobilemenu">
      <a href="#"
        ><img src="./assets/img/notification.png" alt="Notifications"
      /></a>
    </div>
    <div class="mobilemenu">
      <a href="#"><img src="./assets/img/stats.png" alt="Stats" /></a>
    </div>
    <div class="mobilemenu">
      <a href="#"><img src="./assets/img/settings.png" alt="Feed" /></a>
    </div>

  <div class="mobilemenu">
    <a href="#"> <img src="./assets/img/logout.png" alt="Logout" /></a>
  </div>

</mobilenavigation>
</navbarphone>
