sidebar {
  background-color: rgb(24, 28, 34);
  box-shadow: 6px 0px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 0 8px;
  cursor: default;
  min-width: 300px;
  border-radius: 0 10px 10px 0;
  z-index: 99;
}
navbar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  color: white;

}
#head {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 24px;
  img {
    width: 72px;
    border-radius: 10px;
  }
}
#profileOverview {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.profilpic {
  min-width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  padding: 1px;
  border: 1px solid red;
  display: flex;
}
#profileStats {
  width: 100%;
  display: flex;

  tbody {
    display: flex;
    justify-content: space-around;
    width: 100%;
    tr {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
.description {
  color: gray;
}
navigation {
  padding-left: 24px;
  padding-bottom: 16px;
  box-sizing: border-box;
  margin-top: 32px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  a {
    color: aliceblue;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  img {
    width: 30px;
  }
}
.menu {
  display: flex;
  align-items: center;
  gap: 24px;
  cursor: pointer;
}
#imgFeed {
  width: 50px;
}

@media screen and (max-width: 700px) {
  sidebar {
    display: none;
  }
}
