<navbar>
  <div id="head">
    <img src="./assets/img/instalogo.jpg" alt="Logo" />
    <h1 class="f-headline">InstaNeon</h1>
  </div>
  <div id="profileOverview">
    <img
      class="profilpic"
      src="./assets/img/profilpicPL.jpg"
      alt="Profilbild"
    />
    <span>Philipp Lötzsch</span>
    <span>@ph-loetzsch</span>
    <table id="profileStats">
      <tr>
        <th>52</th>
        <td class="description">Posts</td>
      </tr>
      <tr>
        <th>2.5k</th>
        <td class="description">Followers</td>
      </tr>
      <tr>
        <th>324</th>
        <td class="description">Following</td>
      </tr>
    </table>
  </div>
  <navigation>
    <div class="menu">
      <img id="imgFeed" src="./assets/img/feed.png" alt="Feed" />
      <a href="#">Feed</a>
    </div>
    <div class="menu">
      <img src="./assets/img/explore.png" alt="Explore" />
      <a href="#">Explore</a>
    </div>
    <div class="menu">
      <img src="./assets/img/notification.png" alt="Notifications" />
      <a href="#">Notifications</a>
    </div>
    <div class="menu">
      <img src="./assets/img/stats.png" alt="Stats" />
      <a href="#">Stats</a>
    </div>
    <div class="menu">
      <img src="./assets/img/settings.png" alt="Feed" />
      <a href="#">Settings</a>
    </div>
    <div class="menu">
      <img src="./assets/img/logout.png" alt="Logout" />
      <a href="#">Logout</a>
    </div>
  </navigation>
</navbar>
