<navbar>
  <div id="head">
    <img src="/assests/img/instalogo.jpg" alt="Logo" />
    <h1>InstaView</h1>
  </div>
  <div id="profileOverview">
    <img
      class="profilpic"
      src="/assests/img/profilpicPL.jpg"
      alt="Profilbild"
    />
    <span>Philipp Lözsch</span>
    <span>@ph-loetzsch</span>
    <table id="profileStats">
      <tr>
        <th>52</th>
        <th>2.5k</th>
        <th>324</th>
      </tr>
      <tr class="description">
        <td>Posts</td>
        <td>Followers</td>
        <td>Following</td>
      </tr>
    </table>
  </div>
  <navigation>
    <div>
      <img src="" alt="Feed" />
      <a href="#">Feed</a>
    </div>
    <div>
      <img src="" alt="Explore" />
      <a href="#">Explore</a>
    </div>
    <div>
      <img src="" alt="Notifications" />
      <a href="#">Notifications</a>
    </div>
    <div>
      <img src="" alt="Stats" />
      <a href="#">Stats</a>
    </div>
    <div>
      <img src="" alt="Feed" />
      <a href="#">Settings</a>
    </div>
    <div>
      <img src="" alt="Logout" />
      <a href="#">Logout</a>
    </div>
  </navigation>
</navbar>
