<navbar>
  <div id="head">
    <img src="/assests/img/instalogo.jpg" alt="Logo" />
    <h1>Instaview</h1>
  </div>
  <div id="profileOverview">
    <img class="profilPic" src="/assests/img/profilpicPL.jpg" alt="Profilbild" />
    <span>Philipp Lözsch</span>
    <span>@ph-loetzsch</span>
    <table id="profileStats">
      <tr>
        <th>52</th>
        <th>31k</th>
        <th>324</th>
      </tr>
      <tr class="description">
        <td>Posts</td>
        <td>Followers</td>
        <td>Following</td>
      </tr>
    </table>
    
  </div>
  <navigation>
    <a href="#">home</a>
    <a href="#">home</a>
    <a href="#">home</a>
    <a href="#">home</a>
  </navigation>
</navbar>
